html {
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Montserrat';
	src: url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
}

@font-face {	
	font-family: 'Nunito';
	src: url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
}

header {
	width: 100%;
	background-color:#e9e9e9;
	height: 670px;
	background-repeat: repeat-x;
	padding-top: 38px;
}
.logo {
	width: 31px;
	height: 25px;
}

ul#menu {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top:0;
}
ul#menu li {
	display: inline;
	margin-left: 25px;
}
ul#menu li a {
	text-decoration: none;
	color: #191919;
	font: 12px/24px 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
ul#menu li a.active, ul#menu li a:hover {
	color: #6fccdd;
}
.banner {
	position: absolute;
	right: 0;
	top:200px;
	width: 496px;
	padding-left: 11px;
	margin-right: 20px;
}
.about {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 630px;
	padding-left: 5px;
	padding-top: 85px;
	padding-bottom: 100px;
}

h1 {
	margin: 0 0 25px 0; 
	font: 38px/48px 'Montserrat',sans-serif;
	font-weight: 600;
}
h3 {
	font: 30px 'Montserrat',sans-serif;
	font-weight: 600;
	margin: 0;
}
.about h3 {
	line-height: 58px;
}
.col-lg-6 h3 {
	line-height: 82px;
}

p {
   font-family:'Nunito', sans-serif;
   color: #818181;
   font-weight: 500;
}
.banner p {
   font-size: 18px;
   line-height: 28px;
   margin: 0 0 60px 0;
   padding-left: 5px;
   letter-spacing: 0.01em;
}

.about p {
	font-size: 16px;
	line-height: 24px;
	text-indent: 1em;
	letter-spacing: 0.05;
	padding: 0 5px;
	margin: 15px 0 30px 0;
}
a {
	color: #fff;
	text-decoration: none;
}
a.button {
	background-color: #6fccdd; 
	font: 12px 'Montserrat', sans-serif;
	font-weight: 700;
	padding: 20px 45px;
	margin: 0 0 0 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
}	
footer {
	background-image: url(images/footer-bg.png);
	height: 284px;
	color: white;
	background-repeat:repeat-x;
	padding: 100px 0;

}
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.skills-section {
	height: 570px;
	position: relative;
}
.box {
	position: absolute;
	width: 50%;
	height: 100%;
}
.box_1 {
	left: 0;
	background-color: #f8f9f9;
}
.box_2 {
	right: 0;
	background-color: #e9e9e9;
}
#progress-line,#progress-line-second,#progress-line-third {
	background: #d8d8d8;
	height: 3px;
	width: 500px;

}
#progress-line:after {
    content: '';  
    display: block;
    background: #6fccdd;
    width: 70%;
    height: 100%;
}
#progress-line-second:after {
	content: '';  
    display: block;
    background: #6fccdd;
    width: 90%;
    height: 100%;
}
#progress-line-third:after {
	content: '';  
    display: block;
    background: #6fccdd;
    width: 65%;
    height: 100%;
}

ul.skills-list {
	padding: 0;
	margin: 0;
}

ul.skills-list li {
	list-style-type: none;
	margin-bottom: 30px;
	display: block;
}
ul.skills-list li span {
	font: 12px/30px 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
.numbers {
	background-color: #6fccdd;
	padding-top: 100px;
	padding-bottom: 100px;
} 
.col-lg-3 {
	float: left;
	width: 25%;
	padding-top: 30px;
}
.icon {
	position: absolute;
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

.icon-box .icon-content {
	margin-left: 72px;
	color: #fff;
	text-transform: uppercase;

}
.icon-box .numbers-title {
	font: 18px/30px 'Montserrat',sans-serif;
	font-weight: 500;
	color: #fff;
	letter-spacing: .004em;
}
.icon-box .numbers-text {
	font: 12px/30px 'Montserrat',sans-serif; 
	font-weight: 600;
	letter-spacing: 1px;
}


